* {
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    overflow: hidden;
    scroll-behavior: smooth;
}

#loading-screen {
    position: fixed;
    z-index: 99999999999;

    width: 100%;
    height: 100%;

    background: url('../assets/images/loading-header-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    overflow-y: scroll;
    overflow-x: hidden;

    color: white;

    transition: all 1000ms ease-in-out;
}

#loading-screen.hide {
    opacity: 0;
    pointer-events: none;
}

.common-shadow {
    -webkit-box-shadow: 0px 0px 55px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 55px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 55px 10px rgba(0, 0, 0, 0.4);
}

.loading-header {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-content h3,
.header-content h1 {
    color: #fff;
    text-shadow: #ccc 0 1px 0, #c9c9c9 0 2px 0, #bbb 0 3px 0, #b9b9b9 0 4px 0, #aaa 0 5px 0, rgba(0, 0, 0, .1) 0 6px 1px, rgba(0, 0, 0, .1) 0 0 5px, rgba(0, 0, 0, .3) 0 1px 3px, rgba(0, 0, 0, .15) 0 3px 5px, rgba(0, 0, 0, .2) 0 5px 10px, rgba(0, 0, 0, .2) 0 10px 10px, rgba(0, 0, 0, .1) 0 20px 20px;
}

.header-content h3 {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 2.5rem;
}

.header-content h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 6rem;
}

.content-authors {
    margin: 1.25rem;
    padding: 10px 20px;
    border: 2px solid white;
    display: inline-block;
}

#access-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: .8rem;

    display: block;
    width: 200px;
    height: 50px;

    background: rgba(255, 255, 255, 1);

    color: black;
    text-transform: uppercase;

    border: none;
    border-radius: 50px;

    margin-top: 1rem;

    transition: all 200ms ease;

    cursor: pointer;
}

#access-btn:hover {
    background-color: black;
    color: white;
}

#access-btn .fa-arrow-right {
    margin-left: 5px;
}

#access-btn .fa-arrow-right,
#access-btn span {
    transition: all 200ms ease;
}

#access-btn:hover .fa-arrow-right {
    margin-left: 15px;
}

.loading-body {
    text-align: center;
}

.loading-body hr {
    border-color: white;
}

.loading-body h5 {
    text-transform: uppercase;
    font-weight: bold;
}

.loading-body h5:not(:first-of-type) {
    margin-top: 10rem;
}

.body-content {
    padding: 30px 50px 50px 50px;

    background-color: rgba(255, 255, 255, .9);

    color: black;

    margin: 30px 0;

    text-align: justify;
}

.body-trailer-video {
    margin: 30px 0;

    display: flex;
    justify-content: center;
}

.trailer-video {
    max-width: 100%;
    height: auto;
}

#viewer-content {
    position: fixed;
    z-index: 99999999999;
    
    opacity: 0;
    transform: scale(.7,.7) translate(20%, 30%);
    pointer-events: none;

    right: 30px;
    bottom: -100%;
    
    text-align: left;
    color: black;

    width: 350px;
    max-height: 80vh;

    padding: 30px;

    border-radius: 10px;

    overflow-x: hidden;
    overflow-y: scroll;

    background-color: #fef9f0;

    transition: all 500ms ease-in-out;
}
#viewer-content.show {
    opacity: 1;
    bottom: 90px;
    pointer-events: auto;
}
#viewer-content.show:hover {
    transform: scale(1,1);
}
#viewer-content h3 {
    font-weight: bold;
    font-size: 1.4rem;
}
#viewer-content h5 {
    font-weight: 500;
    font-size: 1.1rem;
}

#model-viewer-container {
    position: fixed;
    z-index: 999999999;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    opacity: 0;
    pointer-events: none;

    transition: all 500ms ease-in-out;
}
#model-viewer-container #model-viewer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#model-viewer-container.show {
    opacity: 1;
    pointer-events: auto;
}

#model-view-close-btn {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    width: 50px;
    height: 50px;

    cursor: pointer;

    border-radius: 0 0 0 100%;

    background-color: rgba(0, 0, 0, 0.6);

    color: white;
    text-align: center;
    line-height: 50px;
}
#model-view-close-btn i {
    margin: 0 0 15px 15px;
}
#model-view-close-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
